html {
  background-color: rgb(129, 165, 243);
}

.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: block;
  width: 406px;
  background-color: white;
  border-radius: 8px;
}

.content {
  width: 342px;
  padding: 32px;
}

.tittle {
  margin: 0;
  padding: 0;
  width: 286px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  color: #3E3E3E;
  margin-bottom: 16px;
  margin-right: 32px;
  display: inline-block;
  vertical-align: top;
}

.exit {
  box-sizing: border-box;
  vertical-align: top;
}

.notification {
  padding: 0;
  margin: 0;
  padding: 10px;
  background-color: #F0F1F3;
  border-radius: 4px;
  vertical-align: middle;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3E3E3E;
}

.notification::before {
  content: url(../images/union.svg);
  margin-right: 8px;
  vertical-align: middle;
  line-height: 0;
  display: inline-block
}

.notification--success::before {
  content: url(../images/green.svg);
}

.notification--success {
  background-color: #E9F8EB;
}

.notification--warning::before {
  content: url(../images/yellow.svg);
}

.notification--warning {
  background-color: #FFF8E0;
}

.notification--error::before {
  content: url(../images/red.svg);
}

.notification--error {
  background-color: #FDEAE4;
}

.paragraph__message {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3E3E3E;
  margin-bottom: 32px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
}

.btn--blue {
  background-color: #3E56AA;
  color: white;
  margin-right: 12px;
}

.btn--grey {
  background-color: #F0F1F3;
  color: black;
  margin-right: 80px;
}

.btn--apacity {
  color: #3E56AA;
  background-color: white;
}